@model Training.Models.ViewModel.UpdateProductVM

@*@{
    ViewData["Title"] = "Update";
}*@

<h1>Update</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <input asp-for="Id" hidden />
            <div class="form-group">
                <label asp-for="NameAr" class="control-label"></label>
                <input asp-for="NameAr" class="form-control" />
                <span asp-validation-for="NameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameEn" class="control-label"></label>
                <input asp-for="NameEn" class="form-control" />
                <span asp-validation-for="NameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentPaths" class="control-label"></label>
                @foreach(var path in Model.CurrentPaths)
                {
                <img src="@path" alt="No File" width="100" height="100" class="img-thumbnail" />
                    <input asp-for="CurrentPaths" hidden>
                }

            </div>
            <div class="form-group">
                <label asp-for="formFiles" class="control-label mt-3"></label>
                <input type="file" asp-for="formFiles" class="form-control" value="0" multiple />
                <span asp-validation-for="formFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label mt-3"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories">
                    <option value="0" selected disabled>-- Select Product -- </option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
           
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
